@import 'tailwindcss';
@plugin 'daisyui' {
  themes:
    light,
    dark --prefersdark,
    dracula,
    nord,
    wireframe --default;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}

@import '@assets/styles/fonts.css';
@import '@assets/styles/text.css';

/* Adding root custom styles => check @assets/styles for more */
@theme {
  /* fonts */
  --font-somename: 'somename', monospace;

  /* colors */
  --color-somecolor: #f5f7fa;
}

.app-maxwidth {
  @apply max-w-[1600px];
}
