@import 'tailwindcss';
@plugin 'daisyui' {
  themes:
    light,
    dark --prefersdark,
    dracula,
    nord,
    wireframe --default;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}

@import '@assets/styles/color.css';
@import '@assets/styles/layout.css';
@import '@assets/styles/text.css';
