@import 'tailwindcss';
@plugin 'daisyui';

@import '@assets/styles/color.css';
@import '@assets/styles/layout.css';
@import '@assets/styles/text.css';
@import '@assets/styles/button.css';
@import '@assets/styles/images.css';
