.btn {
  @apply font-A italic;
}

.btn-primary {
  @apply bg-mt-color-3 lg:btn-lg;
}

.btn-location-form-control {
  @apply btn-ghost rounded-none border-0 hover:bg-white hover:shadow-none;

  &.bg-purple-100:hover {
    @apply cursor-auto hover:bg-purple-100 hover:text-zinc-800;
  }
  &.bg-yellow-100:hover {
    @apply cursor-auto hover:bg-yellow-100 hover:text-zinc-800;
  }
}

.btn-mapfilter {
  @apply btn btn-xs lg:btn-md bg-mt-color-10 hover:bg-mt-color-11 border-0 text-black hover:text-white;
}

.btn-mapfilter-outline {
  @apply btn btn-xs lg:btn-md border-0 bg-zinc-100 text-black hover:bg-zinc-600 hover:text-white;
}
