@theme {
  --color-mt-color-1: #f3edf7;
  --color-mt-color-2: #816eb3;
  --color-mt-color-3: #50087d;
  --color-mt-color-4: #e9def8;
  --color-mt-color-5: #fefefe;

  --color-mt-color-10: #83d5b5;
  --color-mt-color-11: #40b386;
}

/* Global settings */
body {
  @apply bg-slate-300;
}
