body {
  @apply bg-[url('../src/assets/images/maptold-page-background.jpg')] bg-fixed bg-repeat;
}

.hero-bg-image {
  @apply bg-[url('../src/assets/images/maptold-hero-mobile.jpg')] bg-cover bg-center md:bg-[url('../src/assets/images/maptold-hero.jpg')];
}

.form-beside-image {
  @apply bg-[url('../src/assets/images/maptold-location-form-aside.jpg')] bg-size-[80%] bg-center bg-no-repeat;
}

.narrative-image-1 {
  @apply bg-[url('../src/assets/images/maptold-narrative-1.jpg')] bg-size-[60%] bg-center bg-no-repeat lg:bg-size-[40%];
}
.narrative-image-2 {
  @apply bg-[url('../src/assets/images/maptold-narrative-2.jpg')] bg-size-[60%] bg-center bg-no-repeat lg:bg-size-[40%];
}
.narrative-image-3 {
  @apply bg-[url('../src/assets/images/maptold-narrative-3.jpg')] bg-size-[60%] bg-center bg-no-repeat lg:bg-size-[40%];
}
