@font-face {
  font-family: 'Font-A';
  src: url(@assets/fonts/Lexend-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Font-B';
  src: url(@assets/fonts/Inter-VariableFont.ttf) format('truetype');
  font-weight: 100 900;
}

@theme {
  --font-A: 'Font-A', ui-sans-serif, system-ui, 'Arial', sans-serif;
  --font-B: 'Font-B', ui-sans-serif, system-ui, 'Roboto', sans-serif;
}

/* Global settings */
html {
  @apply text-[16px] text-slate-700;
}

body {
  @apply font-B text-sm antialiased sm:text-base lg:text-lg;
}

h1 {
  @apply text-mt-color-3 font-A pt-10 pb-5 text-3xl leading-tight font-bold sm:text-4xl md:text-5xl lg:text-6xl;
}

h2 {
  @apply text-mt-color-3 font-A pt-8 pb-4 text-2xl leading-snug font-bold sm:text-3xl md:text-4xl xl:text-5xl;
}

h3 {
  @apply text-mt-color-3 font-A pt-6 pb-3 text-xl leading-snug font-semibold sm:text-2xl md:text-3xl lg:text-4xl;
}

h4 {
  @apply font-A pt-4 pb-2 text-lg leading-normal font-semibold;
}
